button{
      background-color: black;
      border: 1px solid yellow;
      padding: 1em;
      margin: 6px;
      border-radius: 1em;
      color: white;
      cursor: pointer;
      width: 50%;
}

button:hover{
    background-color: grey;
    color: white;
}